
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>MentalHealthTracker</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
</head>
</html>
<body>
  <app-login *ngIf="!this.doShow" (isShown)="getShow($event)"></app-login>
  <app-recorder *ngIf="!this.loginShow"></app-recorder>
</body>

<nav class="navbar fixed-bottom nav justify-content-center" >
  <a class="bi bi-house-door navbar-brand justify-content-center" href="#" style="font-size: 40px;"></a>
  <a class="bi bi-mic navbar-brand" href="@" style="font-size: 40px;"></a>
</nav>
