.btn- {
    background-color: #009090;
    color:white;
    position: relative;
    bottom: 10px;
}
body {
    position: relative;
    text-align: center;
}
.voice-recognition{
    position: relative;
    color: black;
    
}
