
<body>
    <div>
        <h1 class="display-2 text-center">Tell us how your day went</h1>
    </div>
<div class="text-speach" style="margin: 50px;">
    <h3 class="voice-recognition">Click here to record your voice log:</h3>
    
    <p id=text>{{voiceService.text}}</p>

    <button class="bi bi-mic btn btn- mt-1 btn-circle btn-xl" (click)="recording = !recording" (click)="buttonPress()">{{recording ? 'Stop' : 'Start'}}</button>
</div>

<div class="form-outline ">
    <label for="text2">Or type here:</label>
    <textarea class="form-control" rows="2" id="text2"></textarea>
</div>

<h3 class="text-center">What activities did you do today?</h3>
<div>
    
    <div class="col">
    <button style="margin: 3px;" class="btn btn-outline-info" (click)="handleActivities(1)">Running</button>
    <button style="margin: 3px;" class="btn btn-outline-info" (click)="handleActivities(2)">Walking</button>
    <button style="margin: 3px;" class="btn btn-outline-info" (click)="handleActivities(3)">Swimming</button>
    <button style="margin: 3px;" class="btn btn-outline-info" (click)="handleActivities(4)">Cycling</button>
    <button style="margin: 3px;" class="btn btn-outline-info" (click)="handleActivities(5)">Drinks</button>
    
    </div>
    <button class="btn btn- mt-3" (click)="recording = !recording" (click)="submitData()">Submit</button>
</div>

</body>
