.btn- {
    background-color: #009090;
    color:white;
    position: relative;
    bottom: 10px;
}
body {
    position: relative;
    text-align: center;
}
.voice-recognition{
    position: relative;
    color: black;
}
.display-2{
    margin-top: 8%;
}

.form-control{
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    width: min-content;

}