<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h2 id="username"></h2>
                    <canvas id="moodChart" (click)="showData($event)"></canvas>
                </div>
                <div class="card-body">
                    <h2>Daily Breakdown - Select a day to view details</h2>
                    <canvas id="emotionChart"></canvas>
                </div>
            </div>
        </div>
     </div>     
</div>
