<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h2 id="username"></h2>
                    <p>The graph below displays the positive or negative score from each day from 100 to -100. 100 refers to maximum positive emotion, -100 refers to maximum negative emotion</p>
                    <canvas id="moodChart"></canvas>
                </div>
                <div >
                    <h2 id="day">Daily Breakdown - Select a day to view details</h2>
                    <div class="row">
                    <canvas class="h-10 card-body h-10" id="emotionChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
     </div>     
</div>
