<div class="mx-auto row justify-content-center w-50">
  <div class="btn-group btn-group-toggle blue rounded-bottom text-white" data-toggle="buttons">
    <label class="btn blue active text-white">
      <input type="radio" name="options" id="option1" autocomplete="off" checked (click)="calculatePositiveCorrelations()"> Positive
    </label>
    <label class="btn blue text-white">
      <input type="radio" name="options" id="option2" autocomplete="off" (click)="calculateNegativeCorrelations()"> Negative
    </label>
  </div>
</div>

<div class="container" [hidden]="loaded==true">
  <div class="row">
      <div id="loader">
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="loading"></div>
      </div>
  </div>
</div>

<div id="root">

</div>