<div class="mx-auto row justify-content-center w-50">
  <div class="btn-group btn-group-toggle blue r-50 text-white" data-toggle="buttons">
    <label class="btn blue active text-white">
      <input type="radio" name="options" id="option1" autocomplete="off" (click)="calculatePositiveCorrelations()"> Positive
    </label>
    <label class="btn blue text-white">
      <input type="radio" name="options" id="option2" autocomplete="off" (click)="calculateNegativeCorrelations()"> Negative
    </label>
  </div>
</div>

<div id="root">

</div>